Source: ros-jazzy-scenario-execution-rviz
Section: misc
Priority: optional
Maintainer: Intel Labs <scenario-execution@intel.com>
Build-Depends: debhelper (>= 9.0.0), qtbase5-dev, ros-jazzy-ament-cmake, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-py-trees-ros-interfaces, ros-jazzy-rclcpp, ros-jazzy-rviz-common, ros-jazzy-scenario-execution-interfaces, ros-jazzy-std-srvs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-scenario-execution-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5core5a, libqt5gui5, libqt5widgets5, ros-jazzy-geometry-msgs, ros-jazzy-nav-msgs, ros-jazzy-py-trees-ros-interfaces, ros-jazzy-rclcpp, ros-jazzy-rviz-common, ros-jazzy-scenario-execution-interfaces, ros-jazzy-ros-workspace
Description: The scenario_execution_rviz package
