Source: ros-lyrical-scenario-execution-control
Section: misc
Priority: optional
Maintainer: "Frederik Pasch" <fred-labs@mailbox.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-rclpy, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/scenario_execution_control/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-scenario-execution-control
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-lyrical-rclpy, ros-lyrical-scenario-execution, ros-lyrical-scenario-execution-interfaces, ros-lyrical-std-srvs, ros-lyrical-ros-workspace
Description: Scenario Execution Control
